<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.aoba.devicemanagement2api.infrastructure.mappers.DeviceMapper">
  <resultMap id="BaseResultMap" type="site.aoba.devicemanagement2api.infrastructure.models.DeviceModel">

    <id column="DeviceId" property="deviceId" />
    <result column="DeviceBatchId" property="deviceBatchId" />
    <result column="DeviceStatusId" property="deviceStatusId" />
    <result column="DeviceLocationId" property="deviceLocationId" />
    <result column="DeviceUserId" property="deviceUserId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">

    delete from Device
    where DeviceId = #{deviceId}
  </delete>
  <insert id="insert" parameterType="site.aoba.devicemanagement2api.infrastructure.models.DeviceModel">

    insert into Device (DeviceId, DeviceBatchId, DeviceStatusId, 
      DeviceLocationId, DeviceUserId)
    values (#{deviceId}, #{deviceBatchId}, #{deviceStatusId}, 
      #{deviceLocationId}, #{deviceUserId})
  </insert>
  <update id="updateByPrimaryKey" parameterType="site.aoba.devicemanagement2api.infrastructure.models.DeviceModel">

    update Device
    set DeviceBatchId = #{deviceBatchId},
      DeviceStatusId = #{deviceStatusId},
      DeviceLocationId = #{deviceLocationId},
      DeviceUserId = #{deviceUserId}
    where DeviceId = #{deviceId}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">

    select DeviceId, DeviceBatchId, DeviceStatusId, DeviceLocationId, DeviceUserId
    from Device
    where DeviceId = #{deviceId}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select DeviceId, DeviceBatchId, DeviceStatusId, DeviceLocationId, DeviceUserId
    from Device
  </select>
</mapper>